.pdf-container {
  display: flex;
  flex-wrap: wrap;
}

.pdf-container .asset {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.pdf-container embed,
.pdf-container video {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .pdf-container .asset {
    width: 100%;
  }
}
